<!DOCTYPE html>
<html lang="en">
<head-equivad>
	<meta charset="UTF-8">
	<title>Some nice template for whoever looking looking for jobs or in interview processing</title>

	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="../css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all">
	<link href="../css/gcss/custom.css" rel="stylesheet" type="text/css" media="all"/>

	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="icon" href="../favicon.ico" type="image/x-icon">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="My Skills Responsive web template, Bootstrap Web Templates,"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

	<script type="application/x-javascript"> addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);
	function hideURLbar() {
		window.scrollTo(0, 1);
	} </script>
	<!---- start-smoth-scrolling---->
	<script type="text/javascript" src="../js/move-top.js"></script>
	<script type="text/javascript" src="../js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
			});
		});
	</script>
	<!---End-smoth-scrolling---->

</head-equivad>
<body class="fbody" data-offset=90 data-spy=scroll">
<header>
	<nav class='navbar navbar-fixed-top navbar-default' role=navigation>
		<div class=container>
			<div class=navbar-header>
				<button class=navbar-toggle data-toggle=collapse type=button><span
						class=sr-only> Toggle Navigation </span> <span class=icon-bar></span> <span
						class=icon-bar></span> <span class=icon-bar></span></button>
				<a class='navbar-brand animated' href='../index.html'>
					<img src="../images/logos/logo-s.svg" class="nav-logo"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class='nav navbar-nav animated'>
					<li class=" menu"><a href="../index.html">Home</a></li>
					<li class="menu"><a href="../pages/cv.html">CV</a></li>
					<li class="menu"><a href="../pages/git.html">Git</a></li>
					<li class="menu active"><a href="letters.html">Letters</a></li>
					<li class="menu"><a href="#">Blog</a></li>
					<!--    <li>
                            <form class="navbar-form navbar-left" action="https://www.google.com/search?g=">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn-search">Search</button>
                            </form>
                        </li>-->
					<li>
						<div class="navbar-form navbar-left">
							<form ng-submit="vm.search()">
								<input class="search-box" ng-model="vm.searchText" placeholder=" Search">
								<button class="search-button" ng-click="vm.search()">&nbsp;</button>
							</form>
						</div>
					</li>
					<li class="menu"><a href="#">Login</a></li>
					<li><br/></li>

				</ul>
			</div>
		</div>
	</nav>
</header>

<h2>
	<div class="page-header text-center">
		<div class="bg-warning">
			<img src="../images/education.png">Tips for Writing Effective Email
		</div>
	</div>
</h2>

<div class="bg-primary">
	<div class="header-section">
		<div class="bg-info">
			<div class="text-info text-justify">
				<p class="lead small">
				<h4>Asking a friend/recurite to introduce HR/somre in your interested company </h4>
                    <pre>
                    I hope this e-mail finds you well. I’ve been working at [current company] as a [current position] for a
                    few years  now, and I’ve just started looking for a new position as a [new job title].
                    I’m extremely interested in [Intersted Company], and I recently learned that you might have a contact there.
                    If there is any way that you could facilitate that connection, I would be extremely grateful.
                    My résumé is attached as well, in case that’s useful.
                    Thank you!
                </pre>
				</p>
			</div>
			<div class="text-info text-justify">
				<p class="lead small">
				<h4>Thank you letter! </h4>
                <pre>
                   Dear ZZZZZ,
                    I wanted to thank you for helping coordinate my interview and to discuss the java programmer position.
                    I enjoyed our conversation with your technical team, and I am very excited about the possibility of joining to your team.

                    I know value of your company and important duty of technical team. In my last position as an java developer for [XXXX Company] ,
                    I helped manage all aspects of the operation, handling tasks such as develop new features, bug fixing, database performance and document preparation with the CTO.
                    Your technical team mentioned that they need an java developer who has strong  web and teaching skills, and this is an area in which I excel. At [XXX Company] ,
                    I helped the Italian CTO build a loyal client base by consistently providing excellent service. He said, “I had the pleasure to meet [YOUR Name] almost one year ago,
                    while I was looking for smart developers for [COM Name] startup. I had no doubts from the beginning: he was exactly what we needed: an excellent Java developer with
                    a great business view, problems solving oriented, ambitious and efficient. Great, hardworking and self motivated employee with lots of knowledge in his field.....”.
                     It will be my pleasure to read others professional recommendations about me in my LinkedIn profile.

                    Again, thank you for considering me for this exciting opportunity.  I’m enclosing a list of academic recommendations and transcript.
                     Please feel free to call me if you need additional information, have any questions or would like to offer me the job!
                    Thank you for your time, and I look forward to hearing from you.
                       </pre>
				<h4>Two Simple Version of Thank You!</h4>
                <pre>
                    Hi Jamie,
                    I wanted to thank you for helping coordinate my inter-
                    view last week, and I also wanted to check in about my interview
                    status. Do you know when I could expect an update?
                    Thank you!


                    Hi Jamie,
                    I just wanted to check in again. I understand you’re prob-
                    ably busy with other work, so I’ll probably just give you a call
                    tomorrow or the next day if I haven’t heard back from you
                    before then.
                    Thanks!

                </pre>
				</p>
			</div>

			<div class="text-info text-justify">
				<p class="lead small">
				<h4>Asking a friend/recurite to introduce HR/somre in your interested company </h4>
                    <pre>
                    I hope this e-mail finds you well. I’ve been working at [current company] as a [current position] for a
                    few years  now, and I’ve just started looking for a new position as a [new job title].
                    I’m extremely interested in [Intersted Company], and I recently learned that you might have a contact there.
                    If there is any way that you could facilitate that connection, I would be extremely grateful.
                    My résumé is attached as well, in case that’s useful.
                    Thank you!
                </pre>
				</p>
			</div>
			<div class="text-info text-justify">
				<h3>Tips to escape from recruiter's traps:</h3>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						You mven be able to tactfully avoid giving your prior salary by stating that your company
						does not permit disclosure of salaries.
					</li>
					<li class="list-group-item list-group-item-info">Do NOT Use Beggar Phrase: <br/><strike>I don’t need
																											a ton of money—just enough to pay for basic
																											expenses like dinners and stuff with friends. Am I out of luck?
																											Plan B is to work as a waitress, which I know won’t exactly do
																											wonders for my résumé.</strike>
					</li>
					<li class="list-group-item list-group-item-warning">....</li>
					<li class="list-group-item list-group-item-danger">.......</li>
				</ul>

			</div>


		</div>
	</div>
</div>

</body>
</html>